
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}


#hero-font {
    margin-top:50px;
    text-align: center;
}
.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color:white;
}
.carousel-control-prev{
    color:black;
}
.container-fluid {
        padding: 0;
      
    }
.carousel-text{
    float: right;
    clear: both;
    margin-right: 100px;
    margin-top: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    margin-top:15px;
}

ul{
    list-style-type:none;
    margin-right:40px;
}
.img-fluid {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#buy-now{
    margin-top: 30px;
}

#dsc-product1 {
    margin-top:40px;
    text-align: left;
}

#rare-badge{
    margin-left:auto;
}
#title-product-1{
    margin-top:20px;
}
#button-nav{
    padding:80px;
}
#footer {
    margin-top: 30px;
    background-color: #EEEEEE;
}
#product-details {
    margin-top:50px;
}
.breadcrumb{
    text-align: center;
    padding: 15px;
}
#social-links{
    text-align: center;
    padding: 15px
}

#card-sort1{
    padding:40px;
}
#card-sort2{
    padding:40px;
}

.social-links {
    float: right;
    position: relative;
    left: -47%;
    text-align: left;
    margin-bottom: 20px;;
}
.social-links ul {
    margin-top:35px;
}
.social-links ul li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}
.social-links ul li:last-child {
    margin-right: 30px;
}
.social-links ul .last-nav{
    margin-right:30px;
}
.social-links ul li a {
    display: inline-block;
    color: black;
    padding: 5px;
    border-radius: 10px;
    margin-right: 35px;
}
.social-links ul li a:hover {
    color: blue;
}

.float-center > .child {
    position: relative;
    left: 50%;
}

.clear {
    clear: both;
}

#modalbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


#artie-carousel{
    margin-top:20px;
}

#Navbar{
    margin-bottom:20px;
}

